html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/* modificaciones para botón flecha */
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .scroll-button a {
    display: block;
  }
  
  .scroll-button img {
    width: 50px;
    height: 50px;
  }
